#header{
    width: 100%;
    text-align: center;
}
#items{
    height: max-content;
    width: 60%;
    float: left;
    border-right-color: #f1f2f6;
        
}
#items2{
    max-height: 640px;
    overflow-y: scroll;
}

#operatingArea{
    width: 38%;
    float: left;
}

#btnGroup{
    width: 100%;
}

#buttons{
    width: 100%;
    height: 50%;
}

.btnMe{
    transition: all 0.3s;
    padding: auto;
    background-color: #3742fa;
    border-radius: 15px;
    margin: 8px;
    color: white;
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btnMe:hover{
    transform: scale(1.1);
}

#cards:hover{
    transform: scale(1.1);
}

#btnSearch:hover{
    transform: scale(1.1);
}

#orderDetails{
    height: 23rem;
    max-height: 23rem;
    overflow-y: scroll;
    margin: 8px;
    border-radius: 15px;
    background-color: #f1f2f6;
}

#OrderControling{
    width: 90%;
    height: 500px;
    float: center;
    background: transparent;
    border: 2px solid rgb(255, 225, 225);
    border-radius: 20px;
    margin: 20px;
    overflow-y: scroll;
    
}

.itemInputs{
    position: relative;
    width: 90%;
    height: 20%;
    font-size: 16px;
    padding: 10px 10px;
    border-bottom: 2px solid white;
    border-radius: 10px;
    border-color: transparent;
    background: transparent;
    backdrop-filter: blur(20px);
    color: white;
    margin: 15px ;
    transition: all 0.3s;
    
}

.itemInputs:hover{
    transform: scale(1.05);
}